Screen {
  layout: horizontal;
}

#vdot-container {
  height: 3;
  padding: 0 4 0 0;
  margin: 0 0 1 0;
}

#vdot {
  width: 10;
  content-align: center middle;
}

.default { border: round $accent; }
.good { border: round $success; }
.bad { border: round $error; }

Vertical > Select {
  margin-bottom: 1;
}

#results {
  padding: 1 4;
  width: 55%;
}

#equivalent-races {
  margin-bottom: 1;
}
